<div class="card">
  <div class="card-header">Employee Register</div>
  <div class="card-body">
    <div class="row">
      <div class="col-7">col-8</div>
      <div class="col-5">
        <form>
          <div class="form-row">
            <div class="col">
              <label for="location">Filter by</label>
            </div>
            <div class="col-6">
              <select class="form-control" id="location">
                <option>Location</option>
              </select>
            </div>
            <div class="col-4">
              <select class="form-control" id="size">
                <option>Size</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p></p>
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-11">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-1"><button type="button" class="btn btn-primary">Add new</button></div>
    </div>
  </div>
</div>
