<div class="card">
  <div class="card-header">Employee Register</div>
  <div class="card-body">
    <div class="row">
      <div class="col-7"></div>
      <div class="col-5">
        <form>
          <div class="form-row">
            <div class="col">
              <label for="location">Filter by</label>
            </div>
            <div class="col-6">
              <select
                class="form-control"
                id="location"
                name="location"
                (change)="LocationChange($event.target.value)"
              >
                <option [value]="">Location</option>
                <option *ngFor="let location of locations" [value]="location">
                  {{ location }}
                </option>
              </select>
            </div>
            <div class="col-4">
              <select
                class="form-control"
                id="size"
                name="size"
                (change)="SizeChange($event.target.value)"
              >
                <option [value]="">Size</option>
                <option *ngFor="let size of sizes" [value]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p></p>
    <div class="row">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email address</th>
            <th scope="col">age</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empl of emplList">
            <td>{{ empl.firstname }} {{ empl.lastname }}</td>
            <td>{{ empl.email }}</td>
            <td>{{ empl.age }}</td>
            <td style="text-align: center">
              <button type="button" class="btn btn-success">Edit</button>
              <button
                type="button"
                class="btn btn-danger"
                style="margin-left: 10px"
                (click)="deleteEmployee(empl._id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-9">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click) = "onPreviousPageClick()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="let page of totalPages"
              [ngClass]="isPageActive(page) ? 'active' : ''"
            >
              <a class="page-link" (click)="onPageClick(page)">{{ page }}</a>
            </li>
            <li class="page-item">
              <a class="page-link"  aria-label="Next" (click) = "onNextPageClick()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary">Add new</button>
        <button type="button" class="btn btn-warning" style="margin-left: 10px">
          Export CSV
        </button>
      </div>
    </div>
  </div>
</div>
